{% extends "base.html" %} {% block title %}Hermes{% endblock %} {% block head %}

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
  }

  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notes_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
  }

  .create_wrapper {
    display: flex;
    flex-direction: column;
    justify-self: end;
  }

  .note_info {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  label {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .note_info p {
    flex-grow: 1;
  }

  .delete-button {
    height: fit-content;
    width: fit-content;
    padding: 0;
    background-color: transparent;
    color: #eb99a1;
    border: none;
    display: flex;
    justify-content: center;
  }

  .delete-button svg {
    height: 2rem;
  }
</style>

{% endblock %} {% block content %} {% include "nav.html" %} {% if notes.len() ==
0 %}
<p>No Notes</p>
<h3>Create note:</h3>
<form method="post" action="/notes/create">
  <label>Name<input name="name" type="text" /></label>
  <button type="submit">Create</button>
</form>
{% else %}
<h3>Select Note:</h3>
<div class="notes_container">
  {% for note in notes %}
  <div class="note_info">
    <a href="/notes/{{note.id}}">{{note.name}}</a>
    <button
      hx-delete="/notes/{{note.id}}"
      class="delete-button"
      hx-confirm="Are you sure you would like to delete this note?"
    >
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
        />
      </svg>
    </button>
  </div>
  {% endfor %}
</div>
<div class="create_wrapper">
  <h3>New Note:</h3>
  <form method="post" action="/notes/create">
    <label>Name<input name="name" type="text" /></label>
    <button type="submit">Create</button>
  </form>
</div>
{% endif %} {% endblock %}
