{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<style>
    body {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label {
        width: 256px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    button {
        margin-top: 16px;
    }

    .error {
        color: #DA4453
    }

</style>

{% endblock %}

{% block content %}

<form class="form" method="post">
    <label>
        Username
        <input type="text" name="username" id="username"> </input>
    </label>
    <label>
        Password
        <input type="password" name="password" id="password"> </input>
    </label>
    <input type="hidden" name="next" value="{{ next.clone().unwrap_or("/".to_string()) }}"/>
    <button type="submit">Log In</button>
    <a href="/register"><button type="button">Register</button></a>
    {% match message %}
        {% when Some with (msg) %}
            <p class="error">{{ msg }}</p>
        {% when None %}
    {% endmatch %}
</form>

{% endblock %}