{% extends "base.html" %} {% block title %}Write{% endblock %} {% block head %}
<style>
  body {
    min-width: 100%;
    max-width: 100vw;
  }

  .body-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .sidebar {
    background-color: #40363a;
  }

  .sidebar.short {
    width: 2.5%;
  }

  .content {
    padding: 16px;
    flex-grow: 1;
    flex-direction: column;
  }

  .notes {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: scroll;
    min-height: calc(100vh - 132px);
    max-height: calc(100vh - 132px);
  }

  .notes .note[data-grouped="false"]:not(:last-child) {
    margin-top: 16px;
  }

  .timestamp {
    color: rgba(216, 215, 219, 30%);
  }

  .note[data-grouped="true"] .timestamp {
    display: none;
  }

  .message-box {
    height: 100px;
    bottom: 0%;
    position: absolute;
    width: calc(100% - 48px);
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .message-box > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .note-input {
    flex-grow: 1;
  }

  .submit-button {
    border-radius: 50%;
    align-content: center;
    padding: 0px;
    height: 24px;
    width: 24px;
    border: 0;
  }

  .submit-button svg {
    height: 24px;
  }

  .note {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .note p {
    height: fit-content;
    display: inline-block;
    word-break: break-word;
    line-height: 1;
    margin-bottom: 4px;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const LIMIT = 1000 * 60 * 15;

    const notes = document.getElementById("notes");
    const submit = document.getElementById("submit-button");
    if (notes !== null && submit !== null) {
      submit.addEventListener("click", () => {
        notes.scrollTo(0, notes.scrollBy);
        return true;
      });
    }

    /**
     * @type {Array<Node>}
     **/
    let newNodes = new Array();

    /**
     * @param {HTMLDivElement} elem
     **/
    window.handleProcessNode = (el, ev) => {
      let elem = ev.target;

      newNodes.push(elem);

      let createdAt = parseInt(elem.getAttribute("data-created"));
      let now = new Date();
      let todayStart = new Date();
      todayStart.setHours(0);
      todayStart.setMinutes(0);
      todayStart.setSeconds(0, 0);

      let date = new Date(createdAt);
      let timestamp = elem.querySelector(".timestamp");

      let yesterday = new Date(todayStart - 86400000);

      let ts = "";
      if (todayStart < createdAt) {
        ts = `Today at ${date.toLocaleTimeString([], {
          hour: "2-digit",
          minute: "2-digit",
        })}`;
      } else if (yesterday < createdAt) {
        ts = `Yesterday at ${date.toLocaleTimeString([], {
          hour: "2-digit",
          minute: "2-digit",
        })}`;
      } else {
        d = date.toLocaleString().split(",")[0];
        ts = `${d} ${date.toLocaleTimeString([], {
          hour: "2-digit",
          minute: "2-digit",
        })}`;
      }

      timestamp.textContent = ts;
    };

    /**
     * @param {HTMLDivElement} elem
     **/
    window.handleAfterSwap = (elem, ev) => {
      newNodes.length = 0;

      setTimeout(() => {
        if (newNodes.length === 0) {
          return;
        }

        let last = newNodes[newNodes.length - 1].nextElementSibling;
        for (let elem of newNodes.reverse()) {
          let lastCreated =
            last !== null ? parseInt(last.getAttribute("data-created")) : 0;
          let created = parseInt(elem.getAttribute("data-created"));

          if (
            lastCreated + LIMIT > created &&
            last.getAttribute("data-id") !== elem.getAttribute("data-id")
          ) {
            elem.setAttribute("data-grouped", true);
          } else {
            last = elem;
          }
        }
      }, 100);
    };
  });
</script>
{% endblock %} {% block content %} {% include "nav.html" %}
<div class="body-container">
  <div class="content">
    <div
      hx-get="/notes/{{id}}/entries?page=0&per_page=5"
      hx-trigger="load"
      hx-on::after-process-node="handleProcessNode(this, event)"
      hx-on::after-swap="handleAfterSwap(this, event)"
      id="notes"
      class="notes"
    ></div>
    <div class="message-box">
      <div>
        <textarea
          id="note-input"
          name="note-input"
          class="note-input"
        ></textarea>
        <button
          id="submit-button"
          class="submit-button"
          hx-trigger="click, keydown[shiftKey&&key=='Enter'] from:textarea"
          hx-target="#notes"
          hx-swap="afterbegin"
          hx-post="/notes/{{id}}/entries/create"
          hx-include="[name='note-input']"
          hx-on::after-request="document.getElementById('note-input').value = ''"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
